<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Color Of The Lockscreen Clock</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>cellClass</key>
            <string>ColoredBackgroundCell</string>
            <key>valuesDataSource</key>
            <string>loadValues</string>
            <key>titlesDataSource</key>
            <string>loadTitles</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>default</key>
            <string>0</string>
            <key>defaults</key>
            <string>aquariusprefs</string>
            <key>key</key>
            <string>lockscreenClockColor</string>
            <key>label</key>
            <string>Choose Color</string>
            <key>PostNotification</key>
            <string>com.nico671.preferenceschanged</string>
            <key>id</key>
            <string>colorPickerID</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true />
            <key>defaults</key>
            <string>aquariusprefs</string>
            <key>key</key>
            <string>timeLabelColored</string>
            <key>label</key>
            <string>Color Time Label</string>
            <key>PostNotification</key>
            <string>com.nico671.preferenceschanged</string>
            <key>default</key>
            <true />
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true />
            <key>defaults</key>
            <string>aquariusprefs</string>
            <key>key</key>
            <string>dateLabelColored</string>
            <key>label</key>
            <string>Color Date Label</string>
            <key>PostNotification</key>
            <string>com.nico671.preferenceschanged</string>
            <key>default</key>
            <true />
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true />
            <key>defaults</key>
            <string>aquariusprefs</string>
            <key>key</key>
            <string>weatherLabelColored</string>
            <key>label</key>
            <string>Color Weather Label</string>
            <key>PostNotification</key>
            <string>com.nico671.preferenceschanged</string>
            <key>default</key>
            <true />
        </dict>
        </array>
        <key>title</key>
        <string>Colors</string>
    </dict>
</plist>