<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>background alpha</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>default</key>
				<real>1</real>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>1</real>
				<key>showValue</key>
				<true />
				<key>defaults</key>
				<string>aquariusprefs</string>
				<key>PostNotification</key>
				<string>com.nico671.preferenceschanged</string>
				<key>key</key>
				<string>musicPlayerAlpha</string>
				<key>PostNotification</key>
				<string>com.nico671.preferenceschanged</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>text offset (will always go right)</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>default</key>
				<real>1</real>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>20</real>
				<key>showValue</key>
				<true />
				<key>defaults</key>
				<string>aquariusprefs</string>
				<key>PostNotification</key>
				<string>com.nico671.preferenceschanged</string>
				<key>key</key>
				<string>textOffset</string>
				<key>PostNotification</key>
				<string>com.nico671.preferenceschanged</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Music Player Corners</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>default</key>
				<real>13</real>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>20</real>
				<key>showValue</key>
				<true />
				<key>defaults</key>
				<string>aquariusprefs</string>
				<key>PostNotification</key>
				<string>com.nico671.preferenceschanged</string>
				<key>key</key>
				<string>musicPlayerCornerRadius</string>
				<key>PostNotification</key>
				<string>com.nico671.preferenceschanged</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>aquariusprefs</string>
				<key>PostNotification</key>
				<string>com.nico671.preferenceschanged</string>
				<key>key</key>
				<string>musicPlayerLeafLook</string>
				<key>label</key>
				<string>Leaf Look Corner Radius</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Layout</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>defaults</key>
				<string>aquariusprefs</string>
				<key>PostNotification</key>
				<string>com.nico671.preferenceschanged</string>
				<key>key</key>
				<string>configuration</string>
				<key>label</key>
				<string>Configuration</string>
				<key>default</key>
				<integer>0</integer>
				<key>validTitles</key>
				<array>
					<string>Default</string>
					<string>ProgressBar</string>
					<string>VolumeBar</string>
				</array>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>id</key>
				<string>ModeCell</string>
				<key>PostNotification</key>
				<string>com.nico671.preferenceschanged</string>
			</dict>
		</array>
		<key>title</key>
		<string>settings</string>
	</dict>
</plist>